@{
    ViewData["Title"] = "LDS Movies Home Page";
}

<div class="jumbotron text-center">
    <h1>LDS Movies App!</h1>
    <h2>Welcome!</h2>

    <hr class="my-3" />

    <p></p>
    <p></p>

    <h5>Please press the button below to start you'r list.</h5>

    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/Home" role="button">Movies</a>
    </p>
</div>

<div class="text-center">
    <p class="">Click below to learn about ASP.NET Core!</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
