@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h4>Movie App, Inc.</h4>
<hr class="my-3" />
<p>
    We take privacy issues seriously and strive to keep your personal information confidential.

    Movie App, Inc. is a division of Wal-Mart Stores, Inc. The collection and use of your information is covered by the Walmart Privacy Policy.

    You can tell us the ways you would like to hear from us at Movie App, Inc. Communication Preferences.

    We look forward to serving you.
</p>
<h4>Security</h4>
<p>
    We use reasonable administrative, logical, physical and managerial measures to safeguard your personal information against loss, theft and unauthorized

    access, use and modification. These measures are designed to provide a level of security appropriate to the risks of processing your personal

    information. Unfortunately, no measures can be guaranteed to provide 100% security. Accordingly, we cannot guarantee the security of your personal

    information.
</p>

<h4>Other Websites, Platforms and Applications</h4>
<p>
    The LDS Movies App LLc. service may be provided through and/or utilize features (such as voice controls) operated by third party platforms, or contain links to

    sites operated by third parties whose policies regarding the handling of information may differ from ours. For example, you may be able to access the

    LDS Movies App LLc. service through platforms such as gaming systems, smart TVs, mobile devices, set top boxes and a number of other Internet connected devices.

    These websites and platforms have separate and independent privacy or data policies, privacy statements, notices and terms of use, which we recommend

    you read carefully. In addition, you may encounter third party applications that interact with the LDS Movies App LLc. service.
</p>

<h4>Changes to This Privacy Statement</h4>
<p>
    We will update this Privacy Statement from time to time in response to changing legal, regulatory or operational requirements. We will provide notice

    of any such changes (including when they will take effect) in accordance with law. Your continued use of the LDS Movies App LLc. service after any such updates

    take effect will constitute acknowledgement and (as applicable) acceptance of those changes. If you do not wish to acknowledge or accept any updates

    to this Privacy Statement, you may cancel your use of the LDS Movies App LLc. service. To see when this Privacy Statement was last updated, please see the "Last

    Updated" section below.
</p>

<h4>Cookies and Internet Advertising</h4>
<p>
    We and our Service Providers use cookies and other technologies (such as web beacons), as well as advertising identifiers, for various reasons. For

    example, we use these technologies to make it easy to access our services by remembering you when you return, to provide and analyze our services. We

    also use cookies, as well as advertising identifiers, to learn more about our users and their likely interests, and to deliver and tailor marketing or

    advertising. We want you to be informed about our use of these technologies, so this section explains the types of technologies we use, what they do

    and your choices regarding their use.
</p>


<ol>
    <li>
        <h4>What are cookies?</h4>
        <p>
            Cookies are small data files that are commonly stored on your device when you browse and use websites and online services. They are widely used

            to make websites work, or to work more efficiently, as well as to provide reporting information and assist with service or advertising 

            personalization.</p>

        <p>
            Cookies are not the only types of technology that enable this functionality; we also use other, similar types of technologies. See below for 
            more information and examples.
        </p>
    </li>
    <li>
        <h4>What are advertising identifiers?</h4>
        <p>
            Advertising identifiers are similar to cookies and are found on many mobile devices and tablets (for example, the "Identifier for Advertisers" 

            (or IDFA) on Apple iOS devices and the "Google Advertising ID" on Android devices), and certain streaming media devices. Like cookies, 

            advertising identifiers are used to make online advertising more relevant.
        </p>
    </li>
    <li>
        <h4>Why does LDS Movies App LLc. use cookies and advertising identifiers?</h4>
        <ul>
            <li>
                <b>Essential cookies:</b> These cookies are strictly necessary to provide our website or online service. For example, we and our Service Providers

                may use these cookies to authenticate and identify our members when they use our websites and applications so we can provide our service to them.

                They also help us to enforce our Terms of Use, prevent fraud and maintain the security of our service.
            </li>
            <li>
                <b>Performance and functionality cookies:</b> These cookies are not essential, but help us to personalize and enhance your online

                experience with LDS Movies App LLc.. For example, they help us to remember your preferences and prevent you from needing to re-enter information you

                previously provided (for example, during member sign up). We also use these cookies to collect information (such as popular pages,

                conversion rates, viewing patterns, click-through and other information) about our visitors' use of the LDS Movies App LLc. service so that we can

                enhance and personalize our website and service and conduct market research. Deletion of these types of cookies may result in limited

                functionality of our service.
            </li>
            <li>
                <b>Advertising cookies and advertising identifiers:</b> These cookies and advertising identifiers use information about your use of this

                and other websites and apps, your response to ads and emails, and to deliver ads that are more relevant to you. These types of ads are

                called "interest-based advertising." Many of the advertising cookies associated with our service belong to our Service Providers.
            </li>
        </ul>
    </li>
</ol>
